body{
    text-align: center;
}

#canvas{
    width: 600px;
    height: 400px;
    padding: 200px, 20px;
    text-align: center;
    border: 2px solid black;
}

span{
    background-color: red;
}

.available span{
    background: green;
}

.nearby span:after{

    content: "nearby";
    margin-left: 10px;
}